.header {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;

}

.heading {
    font-size: 40px;
}

nav {
    display: flex;
    align-items: center;
    margin-left: 80px;
    justify-content: space-between;

}

.header a {
    margin-left: 40px;
}

.contact-container {
    display: flex;
    justify-content: end;
    width: 100vh;
}

.header button {
    color: white;
    border: 2px solid white;
    margin-right: 30px;
}


.header button:hover {
    color: #014E56;
    background-color: white;
    transition: 0.5s;
}